{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}
{% block head_title %}{% trans "Leaving Site" %}{% endblock %}

{% block content %}
<div class="container-fluid"><
    <div class="offset-2 col-10 mt-5">
        {% if request.user.is_anonymous %}
        <h1>{% trans "Leaving Breakout Black" %}</h1>
        <h5 class="text-red">
            You are leaving Breakout Black to sign in with your third party's credentials
        </h5>
    </div>

    {% endif %}
</div>

{% endblock %}