{% extends "base.html" %}
{% block head_title %}Request Custom Product{% endblock head_title %}
{% block extra_head %}
{% endblock extra_head %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-2 p-4 col-10">
    <h2 class="text-black text-center">Request Custom Product</h2>
    <div class="flex-column d-flex justify-content-center">
        <form class="form-group" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if request.user.is_anonymous %}
            <div class="row mb-4 d-flex">
                <div class="col">
                        {{form.first|as_crispy_field}}
                </div>
                <div class="col">
                        {{form.last|as_crispy_field}}
                </div>
            </div>
            <div class="row mb-4 d-flex">
                <div class="col">
                        {{form.phone|as_crispy_field}}
                </div>
                <div class="col">
                        {{form.email|as_crispy_field}}
                </div>
            </div>
            {% endif %}
            <div class="row mb-4 d-flex">
                    {{form.category|as_crispy_field}}
            </div>
            <div class="row mb-4 d-flex">
                    {{form.message|as_crispy_field}}
            </div>
            {% if request.user.is_authenticated %}
            <!-- Default switch -->
            <div class="form-check form-switch row mb-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="image_switch"
                           name="image_switch"/>
                    <label class="form-check-label" for="image_switch">Would you like to attach an image?</label>
            </div>
            <div class="row mb-4" id="image_container">
                    <label class="form-check-label" for="item_image">
                        Upload a photo
                    </label>
                    <input type="file" name="item_image" id="item_image" class="form-control">
            </div>
            {% endif %}
            <!-- Submit button -->
            <div class="d-grid">
                <button id="submit" class="btn btn-primary btn-block m-2">
                    <span id="button-text">Send Request</span>
                </button>
            </div>
        </form>
    </div>
    <div class="flex-column d-flex">
        <p class="text-black text-center flex-row text-monospace">This will send an email to the business owner</p>
    </div>
</div>
{% endblock content%}

{% block extra_scripts %}
{% load static %}
<!-- JQuery -->
<script type="text/javascript">
$("#image_switch").prop("checked", false);
$("#image_container").slideUp();
$("#image_switch").on("click", function(){
    $("#image_container").slideToggle();
});




</script>
{% endblock extra_scripts %}
