{% extends "base.html" %}
{% block head_title %}Request Custom Product{% endblock head_title %}
{% block extra_head %}
<style>
    .form-control {
        background-color: #fff!important;
    }

    .form-outline .form-control {
        background: #fff!important;
    }








</style>
{% endblock extra_head %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-5 p-4">
    <h2 class="text-black text-center">Request Custom Product</h2>
    <div class="flex-column d-flex">
        <form class="text-black form-group" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if request.user.is_anonymous %}
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        {{form.first|as_crispy_field}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{form.last|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        {{form.phone|as_crispy_field}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{form.email|as_crispy_field}}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row mb-4">
                <div class="form-outline">
                    {{form.category|as_crispy_field}}
                </div>
            </div>
            <!--                <div class="row mb-4">
                                <div class="form-outline">
                                    {{form.size}}
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-outline">
                                    {{form.color}}
                                </div>
                            </div>-->
            <div class="row mb-4">
                <div class="form-outline">
                    {{form.message|as_crispy_field}}
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <!-- Default switch -->
            <div class="form-check form-switch row mb-4">
                <div class="form-outline">
                    <input class="form-check-input" type="checkbox" role="switch" id="image_switch"
                           name="image_switch"/>
                    <label class="form-check-label" for="image_switch">Would you like to attach an image?</label>
                </div>
            </div>
            <div class="row mb-4" id="image_container">
                <div class="form-outline">
                    <label class="form-check-label" for="item_image">
                        Upload a photo
                    </label>
                    <input type="file" name="item_image" id="item_image" class="form-control">
                </div>
            </div>
            {% endif %}
            <!-- Submit button -->
            <button type="submit" class="btn btn-secondary btn-block">Send Request</button>
        </form>
    </div>
    <div class="flex-column d-flex">
        <p class="text-black text-center flex-row text-monospace">This will send an email to the business owner</p>
    </div>
</div>
{% endblock content%}

{% block extra_scripts %}
{% load static %}
<!-- JQuery -->
<script type="text/javascript">
$("#image_switch").prop("checked", false);
$("#image_container").slideUp();
$("#image_switch").on("click", function(){
    $("#image_container").slideToggle();
});




</script>
{% endblock extra_scripts %}
