{% load static %}
{% load socialaccount %}
<div class="d-inline-flex">
    <button class="navbar-toggler" type="button" aria-controls="offcanvasDarkNavbar" onclick="openNav()">
        <!-- Use any element to open the sidenav -->
        <i class="fa fa-bars" aria-hidden="true"></i>
        <a href="{% url 'store:home' %}" class="nav-brand mt-1 text-reset"
           target="_self">
            <img
                    src="{% static 'img/logos.PNG' %}"
                    height="20"
                    alt="Black Breakout Business"
                    loading="lazy"
            />
        </a>`
    </button>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul class="nav flex-column">
        <li class="nav-item order-1">
            <a href="{% url 'store:upload_product' %}" class="nav-link" target="_self">
                Add Product
            </a>
        </li>
        <li class="nav-item order-3">
            <a href="{% url 'store:Updates' %}" class="nav-link" target="_self">View Updates</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item order-2">
            <a href="{% url 'store:upload_product' %}" class="nav-link" target="_self">
                Add Product Category
            </a>
        </li>
        <li class="nav-item nav-flex-icons order-4">
            <a href="{% url 'store:home' %}" class="nav-link" target="_self">
                                <span class="badge red z-depth-1 me-1" id="cart"> <i class="fas fa-shopping-cart"></i>
                                </span>
                <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
        </li>
        <li class="nav-item order-5">
            <a href="{% url 'account_logout' %} " class="nav-link" target="_self">
                Logout
            </a>
        </li>
        <li class="nav-item order-6">
            <a href="#" class="nav-link disabled" target="_self">
                Edit {{ request.user.username }}
            </a>
        </li>
        {% else %}
        <li class="nav-item order-7">
            <a href="{% url 'account_login' %} " class="nav-link" target="_self">
                Login
            </a>
        </li>
        {% endif %}
        <li class="nav-item order-8">
            <a href="{% url 'store:custom product' %} " class="nav-link" target="_self">
                Request a Custom Product
            </a>
        </li>
    </ul>
</div>