{% extends "base.html" %}
{% block head_title %}Updates{% endblock head_title %}
{% block content %}
    <div class="container-fluid col-10">
        <h2 class="offset-4">Updates</h2>
        <ul class="list-group list-group-light">
            <li class="list-group-item disabled text-black text-decoration-line-through" >
                Setup navigation bar
            </li>
            <li class="list-group-item active text-white"  aria-current="true">
                Start setting up add product page
            </li>
            <li class="list-group-item text-muted">
                Setup payments
            </li>
        </ul>
    </div>
{% endblock %}